.profileContainer {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    background: #000;
    align-items: center;
    text-align: center;
    width: 180px;
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 20%;
  }
  
  .name {
    font-size: 20px;
    font-weight: bold;
  }
  
  .tag {
    font-size: 16px;
    color: white;
  }
  
  .location {
    font-style: italic;
    color: #888;
  }
  
  .statsList {
    display: flex;
    list-style-type: none;
    gap: 10px;
    padding: 0;
  }
  
  .statsList li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .statsList li span:first-child {
    font-weight: bold;
  }
  
  .statsList li span:last-child {
    color: gray;
  }
  