#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center; 
}

.mainApp {
  display: flex;
  flex-direction: column;
}

.profile {
  width: 234px;
}

.friendList {
  margin-left: -30px;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
